@import url("./reset.css");

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.attribution {
  position: absolute;
  bottom: 0;
}

.qr__container {
  background-color: var(--white);
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: var(--font-size);
  -webkit-box-shadow: 0px 22px 47px -16px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 30px 50px -50px var(--dark-blue);
  transition: 1s ease-in;
}
.qr__container.initial {
  transform: scale(0.01);
}

.qr__container:hover > img {
  transform: scale(1.02);
  transition: 0.25s ease-in-out;
}
.qr__container > img {
  width: 100%;
  border-radius: var(--font-size);
}

.qr__text_container {
  padding: 10px;
}
.qr__text {
  font-family: var(--font-family);
  text-align: center;
  margin-top: var(--font-size);
}
.qr__text_title {
  font-weight: 700;
  font-size: 19px;
}

.qr__text_paragraph {
  font-weight: 400;
  color: var(--grayish-blue);
  font-size: var(--font-size);
}
